<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict/>
		<dict>
			<key>DefaultValue</key>
			<string>1.2.0</string>
			<key>Key</key>
			<string>VersionNumber</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>6</string>
			<key>Key</key>
			<string>BuildNumber</string>
			<key>Title</key>
			<string>Build</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>© 2014 bugTrap Inc</string>
			<key>Title</key>
			<string>Diagnostics Key</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>UserReferenceKey</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
